@media (min-width:992px) {
    .container{
        margin: 0px 30px;
    }
    /* ================= header ==================== */
    header .navigations .logo{
        flex: 0.5;
    }
    header .navigations .nav{
        display: flex;
    }
    header .navigations .theme button{
        display: none;
    }
}